*{
    padding: 0;
    margin: 0;
}
body{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.table_container{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: rgba(0, 0, 0 , 0.67);

}
table {
    border-collapse: collapse;
    border-radius: 5px; 
    overflow: hidden; 
    border: 1px solid #ddd;
    justify-self: stretch;
    width: 100%; 
  }
  
  th{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 16px;
    background: rgb(58, 59, 62);
    border-left: 1px solid #ddd;

  }

 td {
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  .notin{
    color: rgba(255, 0, 0, 0.764);
}

  tr:hover {background-color: rgba(111, 116, 118, 0.607);}


    h1{
        padding-top: 30px;
        padding-left: 30px;
        text-decoration: underline;
        color: white;
        text-align: center;
    }

    h2{
        padding-top: 20px;
        padding-left: 30px;
        text-decoration: underline;
        color: white;
        text-align: center;
        margin-top:  30px;
    }

    .secondheader{
        margin-top: 100px;
    }

    .bg-gradient-form {

      background: radial-gradient(circle at 30% 70%, #B58529, #9F0F29 33.33%, #0D4B85 66.67%, #295017 100%);
      animation: gradient-movement 20s infinite;
    }